
extends layout

block content

    .container-fluid#referenceContainer

        .row
            .col-sm-6
                br
                br
                p
                    .text-justify This map shows the percentage of general practitioner (GP) consultations relative to 2015, for Lower Super Output Areas (LSOA). Forecasts are based on the changing demographics for the LSOAs.
            .col-sm-6
        h1 References:
        .row
            .col-sm-2 LSOA Geographic Boundaries:
            .col-sm-10
                a(href="http://www.hampshirehub.net/") Hampshire Hub

        .row
            .col-sm-2 Population Forcasts:
            .col-sm-10
                a(href="http://www.hants.gov.uk/factsandfigures/population-statistics/pop-estimates/small-area-pop-stats.htm") Hampshire County Council (small-area-pop-stats)

        .row
            .col-sm-2 GP Consultation Rates:
            .col-sm-10
                a(href="http://www.hscic.gov.uk/pubs/gpcons95-09") Health and Social Care Information Center

        .row
            .col-sm-2 GP Surgery Data:
            .col-sm-10
                a(href="http://www.nhs.uk/Service-Search") NHS choices




    //<div>Icons made by <a href="http://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>             is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div>