html, body {
    background-color: white;
    height: 100%;
    overflow-y: hidden;
}

.navbar-brand {
    left: 10px;
    padding: 8px 0px 0px 0px;
}

#brandImage {
    height: 36px;
}

#brandText{
     position: absolute;
     width: 400px;
     margin-left: 12.5px;
     top: 0px;
     margin-top: 16.5px;
 }

#navbar-main{
    /*height: 50px;*/

    margin-left: 250px;
}

#navigate{
    /*margin-left: 100px;*/
}



#mapContainer{
    padding: 0;
    margin: 0;
}

.form-control{
    top: 2;
    height: 25px;
    font-size: 10px;
}

.btn{
    top: 0;
    height: 25px;
    font-size: 10px;
}

.input-group-btn:not(:first-child):not(:last-child) >.btn {
    border-radius: 0;
}

.input-group{
    margin: 5px;
}

#buttonRow{
    padding: 10px 0px 10px 0px;
    margin: 0;
}

#modalYear{
    text-align: center;

}

#showPOI {
    z-index: 11;
    width: 150px;
}

.findYear{
    z-index: 11;
    width: 150px;
}

#yearList{
}

#findAddress{
    width: 200px;
    z-index: 11;
}

.mapCanvas {
    position: absolute;
    top: 60px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

#keyCanvas {
    z-index: 10;
    /*background-color: red;*/
}

#keyCanvas {
    /*display: inline-block;*/
    position: fixed;
    top: 160px;
    right: 5px;
    z-index: 10;
    width: 100px;
    height: 295px;
}

.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}



/*#infoCanvas{*/
    /*position: absolute;*/
    /*width: 100px;*/
    /*height: 100px;*/
    /*z-index: 10;*/
    /*bottom: 20px;*/
    /*right: 100px;*/
    /*background-color: orange;*/
/*}*/

#referenceContainer{
    padding: 50px 20px 10px 20px;
}

.loading {
    position: absolute;
    top: 60px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-image: url("loading.GIF");
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 12;
}

/*#gpText{*/
    /*font-size: 12px;*/
/*}*/

.gpP{
    font-size: 12px;
    padding: 0;
    margin:0;
}

#featureHeader {
    padding-left: 10px;
}

#featureContainer {
    display: none;
    margin: 64px 0px 0px 0px;
    padding: 0;
    max-width: 600px;
}

.nqmindsHeader {
    position: fixed;
    top: 0;
    background-color: #78909C;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.4);
    z-index: 2;
    width: 100%;
    height: 60px;
}

.nqmindsTitle {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    color: white;
    padding-left: 10px;
    padding-top: 15px;
}

.nqmindsContent {
    margin-top: 60px;
    height: 100%;
}

.nqmindsBack {
    display:none;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    color: white;
    padding-left: 10px;
    padding-top: 15px;
}

.nqmindsBack a {
    text-decoration: none;
    color: white;
}